In [1]:
heincke_url = "'https://dashboard.awi.de/data-xxl/rest/data?sensors=vessel%3Aheincke%3Aphins%3Alongitude&sensors=vessel%3Aheincke%3Aphins%3Alatitude&limit=72&aggregate=MINUTE&aggregateFunctions=MEAN&streamit=true&withQualityFlags=false&withLogicalCode=false'"
heincke_tab_file = "heincke.tsv"
heincke_csv = "heincke.csv"

In [2]:
!curl -o {heincke_tab_file} {heincke_url}

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3171    0  3171    0     0   3307      0 --:--:-- --:--:-- --:--:--  3306

In [3]:
import pandas as pd

In [4]:
df = pd.read_table(heincke_tab_file, parse_dates=["datetime", ])
df = df.rename(
    columns={
        "datetime": "Timestamp",
        "vessel:heincke:phins:longitude (mean) []": "Longitude",
        "vessel:heincke:phins:latitude (mean) []": "Latitude",
    }
)
df["Platform"] = "Heincke"
df["Type"] = "Vessel"
df

             Timestamp  Longitude  Latitude Platform    Type
0  2023-05-03 03:48:00   11.54266  54.19909  Heincke  Vessel
1  2023-05-03 03:58:00   11.54241  54.19913  Heincke  Vessel
2  2023-05-03 04:08:00   11.54172  54.19908  Heincke  Vessel
3  2023-05-03 04:18:00   11.54181  54.19921  Heincke  Vessel
4  2023-05-03 04:28:00   11.54257  54.19946  Heincke  Vessel
..                 ...        ...       ...      ...     ...
67 2023-05-03 15:38:00   11.82490  54.36694  Heincke  Vessel
68 2023-05-03 15:48:00   11.82363  54.38489  Heincke  Vessel
69 2023-05-03 15:58:00   11.82515  54.39625  Heincke  Vessel
70 2023-05-03 16:08:00   11.82505  54.39500  Heincke  Vessel
71 2023-05-03 16:18:00   11.81291  54.39071  Heincke  Vessel

[72 rows x 5 columns]

In [5]:
df.to_csv(heincke_csv, index=False)
!head {heincke_csv}

Timestamp,Longitude,Latitude,Platform,Type
2023-05-03 03:48:00,11.54266,54.19909,Heincke,Vessel
2023-05-03 03:58:00,11.54241,54.19913,Heincke,Vessel
2023-05-03 04:08:00,11.54172,54.19908,Heincke,Vessel
2023-05-03 04:18:00,11.54181,54.19921,Heincke,Vessel
2023-05-03 04:28:00,11.54257,54.19946,Heincke,Vessel
2023-05-03 04:38:00,11.54251,54.19957,Heincke,Vessel
2023-05-03 04:48:00,11.54216,54.19888,Heincke,Vessel
2023-05-03 04:58:00,11.5425,54.1991,Heincke,Vessel
2023-05-03 05:08:00,11.54213,54.19938,Heincke,Vessel